/*TODO: In separate Files aufteilen und SASS/LESS verwenden!*/

@font-face {
    font-family: 'HashedBrowns-WyJgn';
    src: local('HashedBrowns-WyJgn'), url(./fonts/HashedBrowns-WyJgn.ttf) format('truetype');
}

.main {
    margin: -20px auto;
    font-size: 16px;
    font-family: HashedBrowns-WyJgn, monospace;
    text-align: center;
    min-width: 360px;
    padding-top: 15px;
    max-width: 414px;
    min-height: 812px;
    color: white;
    background: radial-gradient(circle, rgba(2,3,5,1) 0%, rgba(24,40,74,1) 60%, rgba(43,72,134,1) 100%);
    border-radius: 5px;
}

.dropdown {
    margin-top: 15px;
    display: inline-block;
    position: relative;
    width: 50px;
    float:left;
}

.dropbtn {
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    background: transparent;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: -10px;
    left: 0;
    min-width: 310px;
    max-width: 364px;
    min-height: 807px;
    z-index: 1;
    background: #f1f1f1;
    box-shadow: 105px 0 0 0 rgb(0 0 0 / 40%);
}

.dropdown-header {
    position: relative;
    padding: 0 24px;
    border-bottom: 1px solid #e0e0e0;
    color: #1e3b70;
}

.dropdown-header .toque {
    position: absolute;
    top: -45px;
    left: 95px;
    transform: scale(0.3) rotate(-20deg);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    opacity: 0.2;
}

.dropdown-content ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.dropdown-link {
    display: block;
    text-decoration: none;
    padding: 8px 16px;
    text-align: left;
    color: #1e3b70;
}

.dropdown-link-selected {
    background: #b4bcc0;
    color: #1e3b70;
}

.dropdown-link:hover {
    background: #cbd3d8;
    color: #1e3b70;
}

.input {
    padding: 5px 15px;
    margin-bottom: 15px;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
}

.submit-button {
    border-radius: 5px;
    width: 185px;
    margin-top: 15px;
    padding: 3px;
    margin-bottom: 15px;
    border-width: 1px;
    border-style: solid;
    background-color: white;
}

.keep-logged-in {
    position: relative;
    right: 17px;
}

.keep-logged-in-check {
    transform: scale(1.15);
    margin-right: 5px;
    opacity: 0.9;
}

.keep-logged-in-label {
    position: relative;
    bottom: 1px;
}

.toque {
    height: 70px;
    margin: auto;
    position: relative;
    bottom: 10px;
    width: 70px;
}

/*.toque:hover {*/
/*    animation-name: beat;*/
/*    animation-duration: 1s;*/
/*    animation-iteration-count: infinite;*/
/*}*/

.toque div {
    border: solid 1px black;
}

.toque-bottom {
    position: absolute;
    margin: auto;
    height: 40px;
    width: 40px;
    background-color: white;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.toque-left {
    border-radius: 50%;
    margin: auto;
    position: absolute;
    left: 3px;
    top: 7px;
    background-color: white;
    height: 30px;
    width: 30px;
}

.toque-middle {
    border-radius: 50%;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 40px;
    background-color: white;
    height: 30px;
    width: 30px;
}

.toque-right {
    border-radius: 50%;
    margin: auto;
    position: absolute;
    right: 3px;
    top: 7px;
    background-color: white;
    height: 30px;
    width: 30px;
}

.toque::before {
    border-radius: 50%;
    margin: auto;
    position: absolute;
    right: 30px;
    bottom: 30px;
    background-color: white;
    height: 30px;
    width: 30px;
    z-index: 1;
    content: '';
}

.toque::after {
    border-radius: 50%;
    margin: auto;
    position: absolute;
    left: 30px;
    bottom: 30px;
    background-color: white;
    height: 30px;
    width: 30px;
    z-index: 1;
    content: '';
}

/*@keyframes beat {*/
/*    0% {*/
/*        transform: rotate(0deg);*/
/*    }*/
/*    25% {*/
/*        transform: rotate(-20deg);*/
/*    }*/
/*    50% {*/
/*        transform: rotate(0deg);*/
/*    }*/
/*    75% {*/
/*        transform: rotate(20deg);*/
/*    }*/
/*    100% {*/
/*        transform: rotate(0deg);*/
/*    }*/
/*}*/

.errorpage {
    margin: auto;
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}